/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: black;
}
/*THESE ARE MY VARIABLES*/
/*THESE ARE MY MIXINS*/
.fontcenter {
  text-align: center;
}
.column {
  flex-direction: column;
  width: 25%;
}
/*END OF CUSTOM MIXINS*/
body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
nav {
  background: dodgerblue;
  padding: 20px;
  position: fixed;
  width: 100%;
}
#accent {
  color: dodgerblue;
}
#accent2 {
  color: yellow;
}
#accent3 {
  color: orange;
}
#accent4 {
  color: red;
}
#accent5 {
  color: hotpink;
}
.container1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.container1 a {
  text-decoration: none;
  color: white;
}
.top {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-left: 5%;
}
@media (max-width: 515px) {
  .top {
    display: flex;
    text-align: center;
    width: 100%;
    padding-top: 20%;
  }
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -3px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -3px;
}
#tops {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  padding: 1%;
  letter-spacing: 10px;
}
.about {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.info {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  font-size: 1rem;
}
.info {
  padding: 5%;
}
.projects {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.skillz {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 5%;
}
.skillz .first,
.skillz .second,
.skillz .third {
  flex-direction: column;
  width: 25%;
}
@media (max-width: 515px) {
  .skillz {
    display: flex;
  }
}
.work {
  border: 1px solid white;
  border-radius: 10px;
}
.work h1 {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.work .workall {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 5%;
}
@media (max-width: 515px) {
  .work .workall {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  padding-bottom: 3%;
}
footer h2 {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
footer .contact {
  display: flex;
  justify-content: center;
}
footer form {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
}
footer input,
footer label,
footer textarea {
  width: 100%;
  margin: 5% 0;
  height: 50px;
}
footer input,
footer textarea {
  border: none;
  border-bottom: 3px solid none;
  background-color: none;
  border-radius: 10px;
  font-size: 1.2rem;
}
footer button {
  color: white;
  background: dodgerblue;
  width: 100%;
  height: 5vh;
  text-align: center;
  font-size: 1rem;
  border-radius: 30px;
  border-color: black;
}
footer button:hover {
  background: white;
  color: black;
}
@media (max-width: 515px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
footer .copywright {
  text-align: center;
  padding-top: 9%;
}
